* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
}

.contenedor{
    background-color: hsl(0, 0%, 100%);
    max-width: 300px;
    max-height: 600px;
    border-radius: 20px ;
}

.qr img {
    width: 90%;
    margin: 15px;
    border-radius: 7px;
}

.texto {
    margin: 10px 20px 35px 20px;
    text-align: center;
}

h1 {
    font-size: 22px;
    color: hsl(218, 44%, 22%);
    margin-bottom: 15px;
}

p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}